@import "variable.styl"

div#card-container
  display grid
  grid-template-columns auto auto auto
  grid-column-gap 50px
  grid-row-gap 50px

a.card
  display block
  background-color #fff
  box-shadow 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.01)
  border-radius 5px
  padding 10px
  color black
  text-decoration none
  p.post-title
    word-break break-all
    font-size 1rem
  div.post-date
    font-size 0.6rem
    color super-light-gray
  div.post-content
    font-size 0.6rem
    color light-gray
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    margin-top: 10px;
  div.post-tags
    margin-top 5px;
    span.post-tag-name
      display inline-block
      font-size 0.6rem
      color super-light-gray
      margin-right 5px
      font-style italic
a.card:visited
  color black
  text-decoration none
a.card:active
  color black
  text-decoration none
