@import "variable.styl"

div.card-container
  display grid
  grid-template-columns auto auto auto
  grid-column-gap 50px
  grid-row-gap 50px

div.card
  background-color #fff
  box-shadow 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.01)
  border-radius 5px
  padding 10px
  a
    color black
    text-decoration none
  a:visited
    color black
    text-decoration none
  a:active
    color black
    text-decoration none
