@import "variable.styl"

div#card-container
  display grid
  grid-template-columns auto auto auto
  grid-column-gap 50px
  grid-row-gap 50px

a.card
  display block
  background-color #fff
  box-shadow 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.01)
  border-radius 5px
  padding 10px
  color black
  text-decoration none
  h3
    word-break: break-all;
  div.post-date
    font-size 12px
    color super-light-gray
  div.post-content
    font-size 13px
    color light-gray
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
a.card:visited
  color black
  text-decoration none
a.card:active
  color black
  text-decoration none
