@import "variable.styl"

div#post
  div#post-info
    display flex

  span.post-tag-name
    display inline-block
    font-size 13px
    color super-light-gray
    margin-left 5px
    font-style italic
    
  span#post-date
    display inline-block
    font-size 13px
    color super-light-gray

  div#post-content
    line-height 25px
    margin-top 30px
    ul
      li
        margin-top 10px

a#post-link-home
  color black
  display block
  margin-top 30px
  text-align end
  