@import "variable.styl"

p#post-date
  
  font-size 13px
  color super-light-gray
  text-align end

a#post-link-home, a#post-link-home:visited, a#post-link-home:active
  color black
  display: block
  margin-top: 30px
  