pre,
.highlight {
  background: #f9f9f9;
  padding: 10px;
  overflow: auto;
  color: #000;
  line-height: 24px;
  border-radius: 10px;
  margin: 10px 0px;
  border: 1px solid #eee;
}
.highlight .gutter pre {
  color: #000;
  font-size: 0.85em;
}
code {
  background: #f9f9f9;
  text-shadow: 0 1px #fff;
  padding: 0.2em 0.5em;
  border-radius: 3px;
  border: 1px solid #eee;
}
pre code {
  background: none;
  text-shadow: none;
  padding: 0;
  border: none;
}
.highlight pre {
  border: none;
  margin: 0;
  padding: 0;
}
.highlight table {
  margin: 0;
  width: auto;
}
.highlight td {
  border: none;
  padding: 0;
}
.highlight figcaption {
  font-size: 0.85em;
  color: #000;
  line-height: 1em;
  margin-bottom: 1em;
}
.highlight figcaption a {
  float: right;
}
.highlight .gutter pre {
  text-align: right;
  padding-right: 20px;
}
