div#card-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}
a.card {
  display: block;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.01);
  border-radius: 5px;
  padding: 10px;
  color: #000;
  text-decoration: none;
}
a.card h3 {
  word-break: break-all;
}
a.card div.post-date {
  font-size: 12px;
  color: #e3e3e3;
}
a.card div.post-content {
  font-size: 13px;
  color: #a8a8a8;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 10px;
}
a.card div.post-tags {
  margin-top: 5px;
}
a.card div.post-tags span.post-tag-name {
  display: inline-block;
  font-size: 13px;
  color: #e3e3e3;
  margin-right: 5px;
  font-style: italic;
}
a.card:visited {
  color: #000;
  text-decoration: none;
}
a.card:active {
  color: #000;
  text-decoration: none;
}
