div#card-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}
a.card {
  display: block;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.01);
  border-radius: 5px;
  padding: 10px;
  color: #000;
  text-decoration: none;
}
a.card p.post-title {
  word-break: break-all;
  font-size: 1rem;
}
a.card div.post-date {
  font-size: 0.6rem;
  color: #e3e3e3;
}
a.card div.post-content {
  font-size: 0.6rem;
  color: #a8a8a8;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 10px;
}
a.card div.post-tags {
  margin-top: 5px;
}
a.card div.post-tags span.post-tag-name {
  display: inline-block;
  font-size: 0.6rem;
  color: #e3e3e3;
  margin-right: 5px;
  font-style: italic;
}
a.card:visited {
  color: #000;
  text-decoration: none;
}
a.card:active {
  color: #000;
  text-decoration: none;
}
div.card a .post-content {
  font-size: 11px;
}
pre,
.highlight {
  background: #f9f9f9;
  padding: 10px;
  overflow: auto;
  color: #000;
  line-height: 24px;
  border-radius: 10px;
  margin: 10px 0px;
  border: 1px solid #eee;
}
.highlight .gutter pre {
  color: #000;
  font-size: 0.85em;
}
code {
  background: #f9f9f9;
  text-shadow: 0 1px #fff;
  padding: 0.2em 0.5em;
  border-radius: 3px;
  border: 1px solid #eee;
}
pre code {
  background: none;
  text-shadow: none;
  padding: 0;
  border: none;
}
.highlight pre {
  border: none;
  margin: 0;
  padding: 0;
}
.highlight table {
  margin: 0;
  width: auto;
}
.highlight td {
  border: none;
  padding: 0;
}
.highlight figcaption {
  font-size: 0.85em;
  color: #000;
  line-height: 1em;
  margin-bottom: 1em;
}
.highlight figcaption a {
  float: right;
}
.highlight .gutter pre {
  text-align: right;
  padding-right: 20px;
}
div#post div#post-info {
  display: flex;
}
div#post span.post-tag-name {
  display: inline-block;
  font-size: 13px;
  color: #e3e3e3;
  margin-left: 5px;
  font-style: italic;
}
div#post span#post-date {
  display: inline-block;
  font-size: 13px;
  color: #e3e3e3;
}
div#post div#post-content {
  line-height: 25px;
  margin-top: 30px;
}
div#post div#post-content img {
  display: block;
  margin: 0 auto;
  width: 80%;
}
div#post div#post-content ul li {
  margin-top: 10px;
}
a#post-link-home {
  color: #000;
  display: block;
  margin-top: 30px;
  text-align: end;
}
div#history ul {
  line-height: 30px;
}
* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}
body {
  background: #fff;
  font-family: "Noto Sans KR", sans-serif;
  clear: both;
  overflow: scroll;
}
nav.nav-container {
  padding: 20px 40px 0 0;
  display: flex;
  justify-content: flex-end;
}
nav.nav-container a.link {
  display: block;
  margin: 0 10px;
  color: #000;
}
nav.nav-container a.link:visited {
  color: #000;
}
nav.nav-container a.link:active {
  color: #000;
}
header {
  width: 80%;
  border-bottom: 1px solid #000;
  padding-left: 60px;
}
header h1 {
  word-break: break-all;
}
header span#date {
  display: block;
}
article {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
hr {
  opacity: 0.5;
}
a:active,
a:visited {
  color: #000;
}
footer {
  width: 100%;
  padding-bottom: 20px;
  margin-top: 50px;
}
footer span {
  display: block;
  font-size: 10px;
  color: #999;
  width: 100%;
  text-align: center;
}
