<h3>About Me</h3>

<p>
    My name is HEE JAE CHOI.<br>
    I'm Server & Android Developer.<br>
    For past 2 years, I've developed web application and android application.<br>
    And, I am interested in UI/UX develop and design.
</p>
<br>
<h3>Work Experience</h3>

<ul>
  <li>2017 ~ 2018&nbsp;&nbsp;<span class="exp-content">Ruby on Rails lector at UOS LIKELION</span></li>
  <li>2017 ~ &nbsp;&nbsp;<span class="exp-content">Web developer at 3WHYS</span></li>
  <li>2018 ~ &nbsp;&nbsp;<span class="exp-content">Web & Android developer at Daily Shot</span></li>
  <li>2018 ~ &nbsp;&nbsp;<span class="exp-content">#128 established & Working Hacker Ton Planner</span></li>
  <li>2018 ~ 2019&nbsp;&nbsp;<span class="exp-content">Web Application developer at Insomenia</span></li>
</ul>
<br>
<h3>Skill</h3>

<p>HTML / CSS / JAVASCRIPT</p>
<p>RUBY ON RAILS</p>
<p>ANDROID APPLICATION</p>
<p>PYTHON</p>
<p>REACT</p>
