<header>
  <h1>
    <% if (page.title){ %>
      <%= page.title %>
    <% }else{ %>
      <%= config.author %>
    <% }%>
  </h1>
  
  <% if (page.layout === 'about') {%>
  
  <% } else {%>
    <% if (page.title){ %>
  
    <% }%>
  <% } %>
  
</header>
