<div id="card-container">
  <% page.posts.each(function(post){ %>
    <%- partial('partial/post_card', {post: post}) %>
  <% }) %>
</div> 


<script type="application/javascript">
  document.addEventListener("DOMContentLoaded", function(){
    let cards = document.getElementsByClassName("card");

    if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
      let cardSize = (window.innerWidth * 0.6) + 'px';
      let cardContainer = document.getElementById("card-container")
      cardContainer.style.gridTemplateColumns = 'auto';

      for (card of cards){
        card.style.height = cardSize;
      }
    }else{
      let cardSize = (window.innerWidth * 0.2) + 'px';
      for (card of cards){
        card.style.width = cardSize;
        card.style.height = cardSize;
      }
    }
    
  });
</script>