<div id="post">
  <div id="post-info">
    <span id="post-date">
      <%= date(page.date, config.date_format) %>
    </span>
    <% if (page.tags.length > 0) { %>
      <% page.tags.each(function(tag) { %>
        <span class="post-tag-name">#<%- tag.name %></span>
      <% }) %>
    <% } %>
  </div>

  <div id="post-content">
    <%- page.content %>
  </div>
</div>
<a id="post-link-home" href='/'>&#8592; Back</a>